fastapi
uvicorn[standard]
langchain
faiss-cpu
openai
pypdf
transformers>=4.36.0
torch>=2.0.0
accelerate>=0.21.0 
langchain-community
PyMuPDF
sentence-transformers
langchain-huggingface
langchain-openai